BodyBasics-D2D/x64/Debug/
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/BodyBasics-D2D.lastbuildstate
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/CL.read.1.tlog
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/CL.write.1.tlog
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/cl.command.1.tlog
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/link.command.1.tlog
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/link.read.1.tlog
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/link.write.1.tlog
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/rc.command.1.tlog
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/rc.read.1.tlog
BodyBasics-D2D/x64/Release/BodyBasics-D2D.tlog/rc.write.1.tlog
ColorBasics-D2D/x64/
*.pcd
CoordinateMappingBasics-D2D/x64/
DepthBasics-D2D/x64/
InfraredBasics-D2D/x64/Debug/Infrared.79DACC0E.tlog/CL.read.1.tlog
InfraredBasics-D2D/x64/Debug/Infrared.79DACC0E.tlog/CL.write.1.tlog
InfraredBasics-D2D/x64/Debug/Infrared.79DACC0E.tlog/InfraredBasics-D2D.lastbuildstate
InfraredBasics-D2D/x64/Debug/Infrared.79DACC0E.tlog/cl.command.1.tlog
InfraredBasics-D2D/x64/Debug/Infrared.79DACC0E.tlog/unsuccessfulbuild
InfraredBasics-D2D/x64/Debug/vc120.idb
